


<!--
<div class="text-layout">
  <h1>{{'hola mundo' | titlecase }}</h1>
  <h1>{{valor | number }}</h1>
  <h1>{{obj | json }}</h1>
</div>

<button pButton 
        label="Cambiar nombre" 
        icon="pi pi-bell" 
        iconPos="right" 
        class="p-button-help" 
        (click)="mostrarNombre()"> 
      </button>


    <p-card [header]="nombre | titlecase"
            subheader="sub header">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab et voluptatum iure suscipit praesentium dignissimos excepturi cumque nostrum magnam debitis non enim incidunt sit perspiciatis id molestias tenetur, pariatur possimus?
    </p-card>

    ng g m appRouter --flat   flat es para que no cree una carpeta appRouter
     
    ng g m appRouter --flat

  -->
    <app-menu></app-menu>
    <router-outlet></router-outlet>
    